<a href="https://colab.research.google.com/github/sunnygs/mltraining/blob/master/Hands_on_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

by Suman Kumar Bera <br>
Email id: skbera.iitkgp21@gmail.com <br>
LinkedIn: [skbera4](https://www.linkedin.com/in/skbera4/)

1. Hands on Python: Notebook(Colab, Jupyter) 15th February, 2025
2. Numpy, pandas: 22nd February, 2025

### Notebooks
1. jupyter
2. Colab

jupyter, download Anaconda and install it <br>

Download link: [Anaconda](https://www.anaconda.com/download/)

Google Colab link: [Colab](https://colab.research.google.com/)

In [ ]:
import sys

print(f'Python version is: {sys.version}')

Python version is: 3.11.11 (main, Dec  4 2024, 08:55:07) [GCC 11.4.0]

In [ ]:
import torch

print(torch.cuda.is_available())  # Check if GPU is available

True

In [ ]:
import numpy as np

print(f'NumPy version is: {np.__version__}')

NumPy version is: 1.26.4

### Environment in jupyter

In [ ]:
# Input from user in Python

name = input('Hi! what is your name:')

print(f'Hello {name}, how are you?')

Hi! what is your name:Suman
Hello Suman, how are you?

In [ ]:
# Ask the price of two products from the user and tell the user the total price

first_product_price = input('What is the price of the first prodcut?')

second_prodcut_price = input('What is the price of the second product?')

total_price = first_product_price + second_prodcut_price

print(f'The total price of the products is: {total_price}')

What is the price of the first prodcut?10
What is the price of the second product?20
The total price of the products is: 1020

In [ ]:
  type(first_product_price)

str

In [ ]:
# Ask the price of two products from the user and tell the user the total price

first_product_price = float(input('What is the price of the first prodcut?'))

second_prodcut_price = float(input('What is the price of the second product?'))

total_price = first_product_price + second_prodcut_price

print(f'The total price of the products is: {total_price}')

What is the price of the first prodcut?10.5
What is the price of the second product?20.5
The total price of the products is: 31.0

In [ ]:
type(first_product_price)

float

### Variables in Python

- integer
- floating point
- string
- boolean

In [ ]:
# List

list_a = ["banana", "apple", "mango"]
print(list_a)

['banana', 'apple', 'mango']

In [ ]:
list_b = ["biscuit", "cake"]
# print(list_a + list_b)
list_c = list_a + list_b
print(list_c)

['banana', 'apple', 'mango', 'biscuit', 'cake']

In [ ]:
type(list_c)

list

In [ ]:
first_name = "Suman"
last_name = "Bera"
print(first_name+" "+last_name)

suman bera

In [ ]:
list_c

['banana', 'apple', 'mango', 'biscuit', 'cake']

In [ ]:
for item in list_c:
    print(f'I need to buy: {item}')

I need to buy: banana
I need to buy: apple
I need to buy: mango
I need to buy: biscuit
I need to buy: cake

In [ ]:
# list_of_numbers = [10, 11, 12, 13, 14, 15, 16] #[]
list_of_numbers = list(range(10, 17))
print(f'LEngth of thre list: {len(list_of_numbers)}')

for i in range(0, len(list_of_numbers), 2): #(start, end, skip)
    print(list_of_numbers[i]) #list_of_numbers[index]

LEngth of thre list: 7
10
12
14
16

In [ ]:
# Ask the price of two products from the user and tell the user the total price

first_product_price = float(input('What is the price of the first prodcut?')[1:])

second_prodcut_price = float(input('What is the price of the second product?')[1:])

total_price = first_product_price + second_prodcut_price

print(f'The total price of the products is: ${total_price}') #[0, 1, 2, ...]

What is the price of the first prodcut?$100
What is the price of the second product?$200
The total price of the products is: $300.0

In [ ]:
# Ask the price of two products from the user and tell the user the total price

first_product_price = float(input('What is the price of the first prodcut?')[1:])
if(first_product_price < 0):
    print('Price of a product can not be negative. Enter the price again...')
    first_product_price = float(input('What is the price of the first prodcut?')[1:])
second_prodcut_price = float(input('What is the price of the second product?')[1:])

total_price = first_product_price + second_prodcut_price

print(f'The total price of the products is: ${total_price}')

What is the price of the first prodcut?$200
What is the price of the second product?$400
The total price of the products is: $600.0

In [ ]:
st = "pYThon"
print(type(st))
print(st.upper()) # uppercase
print(st.lower())
print(st)

<class 'str'>
PYTHON
python
pYThon

In [ ]:
st = "$100"
st_new = st.replace("$", "")
print(type(st_new))
float(st_new)

<class 'str'>

100.0

In [ ]:
# 2 MINUTS BREAK